
.matchContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 700px;
    background-color: #fcd1d1;
    height: 50px;
    border: 1px solid black;
    margin-bottom: 10px;
    border-radius: 4px;
}